<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="np.com.socialize">

    <application
        android:name="np.com.socialize.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Socialize">
        <activity android:name="np.com.socialize.EmptyActivity"
            android:exported="true"></activity>
        <activity android:name="np.com.socialize.ChatActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="np.com.socialize.HobbiesItemActivity" />
        <activity android:name="np.com.socialize.AlreadyOtpActivity" />
        <activity
            android:name="np.com.socialize.SocializeDashboardActivity"
            android:exported="true" />
        <activity android:name="np.com.socialize.CompletedProfileCategory" />
        <activity android:name="np.com.socialize.ResetPasswordActivity" />
        <activity android:name="np.com.socialize.CompleteProfileActivity" />
        <activity android:name="np.com.socialize.SplashScreen" />
        <activity android:name="np.com.socialize.EmailPassActivity" />
        <activity android:name="np.com.socialize.OtpVerifyActivity" />
        <activity android:name="np.com.socialize.PhoneNumberActivity" />
        <activity android:name="np.com.socialize.LoginActivity" />
        <activity android:name="np.com.socialize.MainActivity" />
        <activity-alias
            android:name=".Launcher"
            android:targetActivity="np.com.socialize.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>



        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path_public" />
        </provider>
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />


</manifest>